@edc-main: rgb(60, 141, 188);
@edc-bg-color: white;
@edc-font-color: rgb(68, 68, 68);
@edc-url-color: rgb(2, 117, 216);
@edc-title-font: 'Open Sans', 'Segoe UI';
@edc-font-families: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* edc dark option */
@edc-dark-bg-color: rgb(55, 71, 79);
@edc-dark-color: rgb(255, 255, 255);
@edc-dark-border-color: rgb(126, 176, 205);
@edc-dark-header-bg-color: rgb(69, 90, 100);
@edc-dark-url-color: rgb(136, 187, 255);

